<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2>Ingresar</h2>
    
              </div>
            </div>
          </div>
        </div>
    
        
        <form  th:action="@{/usuario/acceder}" method="post">
          <div class="form-group">
            <label for="email"> Email:  </label>      
            <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su email" required autocomplete="off"> 
    
          </div>
    
          <div class="form-group">
            <label for="pwd"> Contraseña:</label>
            <input type="password"  class="form-control" id="password" name="password" placeholder="Ingrese su contraseña" required>       
          </div>
    
          <div class="form-group">
            <div class="col-sm-2">
              <button type="submit" class="btn btn-dark"> <span class="glyphicon glyphicon-ok"></span> Ingresar</button>
            </div>      
          </div>    
        </form>
        <a th:href="@{/usuario/registro}" class="card-link">Si aún no tiene cuenta aqui puede registrarse</a>
      </div>
</body>
</html>