<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title th:text="${titulo}">Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body >
    
    <nav th:replace="base/base :: nav"></nav>

    <h1 th:text="${titulo}" class="text-center"></h1>
    <br>
    <div class="container">

        <form th:action="@{/cliente/guardar}" method="post">
			<div class="form-group">
				<label for="nombres">Nombres:</label> <input type="text"
					class="form-control" id="nombre" name="nombre" 
					placeholder="Ingrese sus nombres" autocomplete="off" th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''">
					<div class="invalid-feedback" th:errors="*{nombre}"></div>>
			</div>
            <div class="form-group">
				<label for="nombres">Apellidos:</label> <input type="text"
					class="form-control" id="apellido" name="apellido" required
					placeholder="Ingrese sus apellidos" autocomplete="off">
			</div>

			<div class="form-group">
				<label for="email">Email:</label> <input type="email"
					class="form-control" id="email" name="email" required
					placeholder="Ingrese su email" autocomplete="off">
			</div>

			<div class="form-group">
				<label for="direccion">Dirección:</label> <input type="text"
					class="form-control" id="direccion" name="direccion" required
					placeholder="Ingrese su dirección" autocomplete="off">
			</div>
            <div class="form-group">
				<label for="nombres">Telefono:</label> <input type="text"
					class="form-control" id="telefono" name="telefono" required
					placeholder="Ingrese su telefono" autocomplete="off">
			</div>
            <div class="form-group">
				<label for="pwd">Nombre de usuario:</label> <input type="password"
					class="form-control" id="user" name="user" required
					placeholder="Ingrese su usuario" autocomplete="off">
			</div>
			<div class="form-group">
				<label for="pwd">Contraseña</label> <input type="password"
					class="form-control" id="password" name="password" required
					placeholder="Ingrese su contraseña" autocomplete="off">
			</div>
			<div class="col-sm-2">
				<button type="submit" class="btn btn-success">Guardar</button>
			</div>
		</form>
</div>
</body>

</html>