<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Spring eCommerce</title>


  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav th:replace="~{/cliente/home_base :: navUser}">


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link"
          href="carrito.html">Carrito</a></li>
          <li class="nav-item"><a class="nav-link"
            href="login.html">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">


      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">
        Spring eCommerce <small>Resumen de la pedido</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item active">Pedido</li>
      </ol>

      <!-- Blog Post -->
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
           <div class="col-lg-9">
             <div class="card-body">
              <h5 class="card-title">
                DATOS PEDIDO
              </h5>
              <h6 th:text="'Nombre Cliente: '+${cliente.nombre}">Nombre: </h6>
              <h6 th:text="'Correo Cliente: '+ ${cliente.email}">Correo: </h6>
              <h6 th:text="'direccion Cliente: '+ ${cliente.direccion}">Dirección</h6>

              <h5 class="card-title">
                PRODUCTOS
              </h5>
              <div class="alert alert-light" role="alert">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Producto</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="pedido:${carrito}">
                     <td th:text="${pedido.nombreProducto}">Nombre</td>
                     <td  th:text="${pedido.valorPedido}">Precio</td>
                     <td  th:text="${pedido.cantidad}">Cantidad</td>
                     <td  th:text="${pedido.totalPorPedido}">Total</td>

                   </tr>
                 </tbody>
               </table>
             </div>

           </div>
         </div>


         <div class="col-lg-3">
          <h2 class="card-title">Resumen Pedido</h2>

          <ul class="list-group">
            <li class="list-group-item"><h5 th:text="'Total: '+${pedido.subtotal} " > Total:</h5></li>
            <a th:href="@{/guardarPedido}" class="btn btn-dark">Generar</a>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer th:replace="~{/cliente/home_base :: footerUser}">
  </footer>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
